<div class="row">
  <div class="col-xs-12 mx-auto">
    <div class="text-center p-4">
      <h2><b>会員情報編集</b></h2>
    </div>

    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field form-group col-12">
        <%= f.label :"名前" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-6" %>
      </div>

      <div class="field form-group col-12">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12" %>
      </div>

      <div class="actions text-center p-3">
        <%= f.submit "編集内容を保存", class: "btn btn-success col-5 mr-5" %>
      </div>
    <% end %>
    <div class="text-right">
      <%= link_to "退会する", out_users_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-danger " %>
    </div>
  </div>
</div>