<div class="row">
  <div class="col-xs-12 mx-auto">
    <div class="text-center p-4">
      <h2><b>ログイン</b></h2>
    </div>
    <%= render "shared/error_messages", resource: resource %>

    <%= form_with model: @user, url: user_session_path do |f| %>
    
      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12", placeholder: 'sample@example.com' %>
      </div>
    
      <div class="field mt-3">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "col-12", placeholder: '○○○○○○' %>
      </div>
    
      <div class="actions text-center p-3 pb-5 mx-auto">
        <%= f.submit "ログイン", class: "btn btn-success px-4" %>
      </div>
    <% end %>
    
  </div>
</div>
